<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:configChanges="locale|layoutDirection"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DATN_ToyStoryShop"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan|stateHidden"
        tools:targetApi="31">
        <activity
            android:name=".ArtStoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Add_address_screen"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-rwWM26GHvGh2sRvaMDJoz9TgMExk9wo" />

        <activity
            android:name=".Home.All_new_screen"
            android:exported="false" />
        <activity
            android:name=".Home.Popular_screen"
            android:exported="false" />
        <activity
            android:name=".Home.Store_follow_screen"
            android:exported="false" />
        <activity
            android:name=".My_cart_screen"
            android:exported="false" />
        <activity
            android:name=".Contact_support.Chat_contact"
            android:exported="false"
            android:theme="@style/Theme.DATN_ToyStoryShop" />
        <activity
            android:name=".Contact_support.Email_contact"
            android:exported="false" />
        <activity
            android:name=".Profile.Evaluate_screen"
            android:exported="false" />
        <activity
            android:name=".Profile.Privacy_Security_screen"
            android:exported="false" />
        <activity
            android:name=".Profile.Terms_Conditions_screen"
            android:exported="false" />
        <activity
            android:name=".Profile.Introduce_Friends_screen"
            android:exported="false" />
        <activity
            android:name=".Profile.Currency_Language_screen"
            android:configChanges="locale|layoutDirection"
            android:exported="false" />
        <activity
            android:name=".Profile.Setting_screen"
            android:exported="false" />
        <activity
            android:name=".Register_login.PhoneNumber_screen"
            android:exported="false" />
        <activity
            android:name=".Register_login.PhoneOTP_screen"
            android:exported="false" />
        <activity
            android:name=".Register_login.Forgot_pass"
            android:exported="false" />
        <activity
            android:name=".Register_login.ForgotOTP_screen"
            android:exported="false" />
        <activity
            android:name=".Register_login.SignUp_screen"
            android:exported="false" />
        <activity
            android:name=".Register_login.SignIn_screen"
            android:exported="false" />
        <activity
            android:name=".Setting.ContactSupport_screen"
            android:exported="false" />
        <activity
            android:name=".Setting.Notifications_screen"
            android:exported="false" />
        <activity
            android:name=".Setting.ChangePassword_screen"
            android:exported="false" />
        <activity
            android:name=".Setting.UpdateInfo_screen"
            android:exported="false" />
        <activity
            android:name=".Home.OtherProducts_screen"
            android:exported="false" />
        <activity
            android:name=".Home.ArtStory_screen"
            android:exported="false" />
        <activity
            android:name=".Home.LimitedFigure_screen"
            android:exported="false" />
        <activity
            android:name=".Home.Figuring_screen"
            android:exported="false" />
        <activity
            android:name=".Home.BlindBox_screen"
            android:exported="false" />
        <activity
            android:name=".Home.NewArrivals_screen"
            android:exported="false" />
        <activity
            android:name=".Register_login.Welcome_screen"
            android:exported="false" />
        <activity
            android:name=".Product_detail"
            android:exported="false" />
        <activity
            android:name=".Favorite_screen"
            android:exported="false" />
        <activity
            android:name=".Home_screen"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>